# OS 
.DS_Store
Thumbs.db

# Node modules 
node_modules/

# Logs
*.log

# Environment files
.env

# Build or cache folders
dist/
build/
cache/

# Temporary files
*.tmp
*.bak
*.swp

# VSCode settings 
.vscode/
